
 
    body {
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
    }
    .container{
      width: 800px;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      flex-direction: row;
    }
    
    #tabting{
        font-family: 'Montserrat', sans-serif;
    }
    /* Tab styles */
    .tab {
      display: none;
      padding: 20px;
    }
    
    /* Active tab style */
    .active {
      display: block;
    }
    
    /* Tab navigation styles */
    .tabnav {
      display: flex;
      justify-content:left;
      background-color: #f1f1f1;
      border-radius: 10px 10px 0 0;
      overflow: hidden;
    }
    
    .tabnav button {
      background-color: transparent;
      border: none;
      padding: 15px 20px;
      font-size: 16px;
      color: #333;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    .tabnav button:hover {
      background-color: #e1e1e1;
    }

    .element-container{
      padding: 10px;
      display: flex;
      flex-direction: row;
    }
    .element{
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin: 200px;
    }

    .flex-container {
      display: flex;
    }
    
    .chart-container {
      flex: 1;
    }
    
    .list-container {
      flex: 1;
      margin-left: 20px;
    }
    
    .productChart {
      width: 100%;
      height: 100%;
    }
    
    .list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .list li {
      display: flex;
      align-items: center;
      margin-bottom: 2px;
      padding: 10px;
      border-radius: 5px;
      background-color: #f1f1f1;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .list li:hover {
      background-color: #e1e1e1;
    }
    
    .list li .product-info {
      flex: 1;
    }
    
    .list li .product-title {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 5px;
    }
    
    .list li .product-price {
      color: #888;
      font-size: 14px;
    }
    
    .list li .product-image {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      object-fit: cover;
      border-radius: 50%;
    }
    
    .click-container{
      width: 800px;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    
    .pagination a {
      color: #333;
      text-decoration: none;
      padding: 5px 10px;
      margin: 0 5px;
      border-radius: 5px;
      background-color: #f1f1f1;
      transition: background-color 0.3s;
    }
    
    .pagination a:hover {
      background-color: #e1e1e1;
    }
    
    .pagination .current-page {
      color: #fff;
      background-color: #333;
      padding: 5px 10px;
      margin: 0 5px;
      border-radius: 5px;
    }
    
    
 