{% load static %}

<head>
<link rel="stylesheet" href="{% static 'eCommerce/navbar.css' %}" />  
</head>
{% if user.role == 'SELLER' %}
<nav class="navbar">
  <a href="{% url 'sellerHome' %}">Dashboard</a>
  <a href="{% url 'seller-products' %}">My business</a>
  <a style="display: block; margin-right: auto;" href="{% url 'seller-dashboard' %}">Analytics</a>

  <div class="dropdown">
    <img src="{{ user.profile.image.url }}" alt="" class="profile-image" /><div class="arrow"></div>
    <div class="dropdown-content">
      
      <a href="{% url 'profile' %}">Profile</a>
      <a href="{% url 'logout' %}">Logout</a>
    </div>
  </div>
</nav>

{% else %}
<nav class="navbar">
  
  <a href="{% url 'site-home' %}">Home</a>
  <a href="{% url 'site-products' %}">Products</a>
  <a href="{% url 'site-about' %}">About</a>

  {% if user.is_authenticated %}
<div class="dropdown"></div>
<div class="notification-icon">
           
  <span id="notification-counter" class="badge">{{ unread }}</span>
<div class="notification-list">
<ul>
{% for notification in notifications %}
<li style="font-size: 14px;" class="notification-item">
  <form class="order-form" method="POST" action="{% url 'user-orders' %}">
      {% csrf_token %}
      <input type="hidden" name="order_id" value="{{ notification.order.id }}">
      <button type="submit">
          {{ notification.notification }}
          <span class="time">{{ notification.time|date:"d F" }} {{ notification.time|time:"H:i" }}</span>
      </button>
  </form>
</li>
{% endfor %}
</ul>
</div>

</div>
  <img
    src="{{ user.profile.image.url }}"
    alt=""
    style="height: 40px; width: 40px"
  /><div class="arrow"></div>
  <div class="dropdown-content"></div>
  <a href="{% url 'user-orders' %}">My Orders</a>
    <a href="{% url 'profile' %}">Profile</a>
    <a href="{% url 'logout' %}">Logout</a>
  </div>
</div>
  {% else %}
  <a href="{% url 'login' %}">Login</a>
  <a href="{% url 'signup' %}">SignUp</a>
  {% endif %}

</nav>
{% endif %}
 {% block content %}{% endblock %}
 <script>
  document.addEventListener('DOMContentLoaded', function() {
     
      const notificationItems = document.querySelectorAll('.notification-item');
  
      // Update notification counter
   
  
      // Mark notification as read on click
      
  });
  </script>