{% extends "eCommerce/base.html"%} 
{% load static %} 
{% load itemFilter %} 
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Payment Options</title>
  <link rel="stylesheet" href="{% static 'eCommerce/cartPayment.css' %}">
</head>
<body> 
  <h2 style="text-align: center;">Order Details</h2>
  <div class="details-container">
    <p style="font-size: 30px;" class="text">Total: <b>${{ cart.total_price }}</b></p>
    <div class="all">
         <div class="info">
            <p class="text">First name: <b>{{ order.first_name }}</b></p>
            <p class="text">Last name: <b>{{ order.last_name }}</b></p>
            <p class="text">Phone: <b>{{ order.phoneNumber }}</b></p>
            <p class="text">Address: <b>{{ order.address }}</b></p>
        </div>
   
    <div class="products">
         {% for item in cart_items %}
        <div class="item">
           
            <img src="{{ item.image.url }}" alt="">
            <h2 class="title">{{ item.title }}</h2>
            <h3 class="quantities">{{ cart.quantities|default:"{}" | get_item:item.id }}</h3>
        </div>
        {% endfor %}
    </div>
    </div>
   
    </div>
  <div style="text-align: center;margin: 20px 0 10px;">
    <span>----------      Please choose a payment method      ----------</span>
  </div>
  <form action="POST">
     <div class="payment-container">
    <a href="#" type="submit" id="checkout-button" value="button1" name="Delivery" class="payment-option">
      <h2>Credit Card</h2>
      <p  class="payment-description">Convenient and secure way to complete your purchase. </p>
    </a>
    <a href="" type="submit" value="button2" name="Online" class="payment-option">
      <h2>Cash on Delivery</h2>
      <p class="payment-description"> Pay in cash when your order is delivered right to your doorstep.</p>
    </a>
  </div>
  </form>
 
  {% csrf_token %}
</body>
</html>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">

  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  // Create an instance of the Stripe object with your publishable API key
  var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
  var checkoutButton = document.getElementById("checkout-button");

  checkoutButton.addEventListener("click", function () {
    fetch("{% url 'create-checkout-session' order.id %}", {
      method: "POST",
      headers: {
          'X-CSRFToken': csrftoken
      }
    })
      .then(function (response) {
        return response.json();
      })
      .then(function (session) {
        return stripe.redirectToCheckout({ sessionId: session.id });
      })
      .then(function (result) {
        // If redirectToCheckout fails due to a browser or network
        // error, you should display the localized error message to your
        // customer using error.message.
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function (error) {
        console.error("Error:", error);
      });
  });

  // Disable the button until we have Stripe set up on the page
  document.querySelector("button").disabled = true;

  var elements = stripe.elements();
  var style = {
    base: {
      color: "#32325d",
      fontFamily: 'Arial, sans-serif',
      fontSmoothing: "antialiased",
      fontSize: "16px",
      "::placeholder": {
        color: "#32325d"
      }
    },
    invalid: {
      fontFamily: 'Arial, sans-serif',
      color: "#fa755a",
      iconColor: "#fa755a"
    }
  };
  var card = elements.create("card", { style: style });
  // Stripe injects an iframe into the DOM
  card.mount("#card-element");
  card.on("change", function (event) {
    // Disable the Pay button if there are no card details in the Element
    document.querySelector("button").disabled = event.empty;
    document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
  });
 
  
  // Calls stripe.confirmCardPayment
  // If the card requires authentication Stripe shows a pop-up modal to
  // prompt the user to enter authentication details without leaving your page.
  var payWithCard = function(stripe, card, clientSecret) {
    loading(true);
    stripe
      .confirmCardPayment(clientSecret, {
        payment_method: {
          card: card
        }
      })
      .then(function(result) {
        if (result.error) {
          // Show error to your customer
          showError(result.error.message);
        } else {
          // The payment succeeded!
          orderComplete(result.paymentIntent.id);
        }
      });
  };
  /* ------- UI helpers ------- */
  // Shows a success message when the payment is complete
  var orderComplete = function(paymentIntentId) {
    loading(false);
    document
      .querySelector(".result-message a")
      .setAttribute(
        "href",
        "https://dashboard.stripe.com/test/payments/" + paymentIntentId
      );
    document.querySelector(".result-message").classList.remove("hidden");
    document.querySelector("button").disabled = true;
  };
  // Show the customer the error from Stripe if their card fails to charge
  var showError = function(errorMsgText) {
    loading(false);
    var errorMsg = document.querySelector("#card-error");
    errorMsg.textContent = errorMsgText;
    setTimeout(function() {
      errorMsg.textContent = "";
    }, 4000);
  };
  // Show a spinner on payment submission
  var loading = function(isLoading) {
    if (isLoading) {
      // Disable the button and show a spinner
      document.querySelector("button").disabled = true;
      document.querySelector("#spinner").classList.remove("hidden");
      document.querySelector("#button-text").classList.add("hidden");
    } else {
      document.querySelector("button").disabled = false;
      document.querySelector("#spinner").classList.add("hidden");
      document.querySelector("#button-text").classList.remove("hidden");
    }
  };

</script>

{% endblock %}
