{% extends "eCommerce/base.html"%}
{% load static %}

{% block content %}
<head>
    <title>Home Page</title>
	
    <link rel="stylesheet" href="{% static 'eCommerce/home.css' %}">
</head>
<body>
        <div class="search-container">
            <div class="search-box">
                <input type="text" placeholder="Search...">
                <button>Search</button>
            </div>
        </div>
        <div class="filters">
            <div class="filter">Filter 1</div>
            <div class="filter">Filter 2</div>
            <div class="filter">Filter 3</div>
        </div>
       
            {% for product in products %}
            <h1>{{ product.title }}</h1>
            <p>{{ product.categorie }}</p>
            <p>{{ product.price }} $</p>
            <p>{{ product.date| date:"F d, Y"}}</p>
            <p>{{ product.seller }}</p>
            {% endfor %}
        
</body>
{% endblock %}