{% extends "eCommerce/base.html"%}
{% load static %}

{% block content %}
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'eCommerce/home.css' %}">
</head>
<body>
        <div class="search-container">
            <div class="search-box">
                <input type="text" placeholder="Search...">
                <button>Search</button>
            </div>
        </div>
        <div class="filters">
            <div class="filter">Filter 1</div>
            <div class="filter">Filter 2</div>
            <div class="filter">Filter 3</div>
        </div>
        <main>
            <div class="container">
                {% for product in products %}
                <div class="box">
                    <h2>{{ product.title }}</h2>
                    <p>{{ product.categorie }}</p>
                    <img src="{{ product.image.url }}" alt="{{ product.title }}">
                    <p class="price">${{ product.price }}</p>
                    <p class="seller">Sold by {{ product.seller }}</p>
                </div>
                {% endfor %}
            </div>
        </main>
        
</body>

{% endblock %}