{% extends "eCommerce/base.html"%}
{% load static %}

{% block content %}
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'eCommerce/home.css' %}">
    <link rel="stylesheet" href="{% static 'eCommerce/product.css' %}">
</head>
<body>
        <div class="search-container">
            <div class="search-box">
                <input type="text" placeholder="Search...">
                <button>Search</button>
            </div>
        </div>
        <div class="filters">
            <div class="filter">Filter 1</div>
            <div class="filter">Filter 2</div>
            <div class="filter">Filter 3</div>
        </div>
        <div class="products">
             
            {% for product in products %}
                 <div class="product-container">
                     <a href="{% url 'product-detail' product.id %}">{{ product.title }}</a>
                     <p class="category">Category: {{ product.categorie }}</p>
                     <img src="{{ product.image.url }}" alt="Product Image">
                     <p class="price">{{ product.price }} $</p></p>
                     <p class="seller">Seller: {{ product.seller }}</p>
                     <p class="seller">Created at : {{ product.date_created}}</p>
                 </div>
             {% endfor %}
         </div>
        
</body>

{% endblock %}