{% extends "eCommerce/sellerBase.html"%}
<!-- {% load static %} -->

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'eCommerce/productDelete.css' %}">
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <h2>Are you sure you want to delete this order</h2>
        <span style="margin-bottom: 20px;">This order will not be recoverable after deletion.</span>
        <div class="options">
           <button type="submit">Delete</button>
        <a href="{% url 'seller-orders'%}">Cancel</a>
        </div>
       
    </form>
</body>
<style>


</style>
{% endblock %}