{% extends "eCommerce/sellerBase.html"%}
<!-- {% load static %} -->

{% block content %}
<head>
    <title>Delete Product</title>
	
    <link rel="stylesheet" href="{% static 'eCommerce/productDelete.css' %}">
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <h2>Are you sure you want to delete {{ object.title }} ?</h2>
        <span style="margin-bottom: 20px;">This item will be perminently deleted and could not be recovered.</span>
        <div class="options">
          <button type="submit">Delete</button>
        <a href="{% url 'product-detail' object.id %}">Cancel</a>
        </div>
        
    </form>
</body>

{% endblock %}