{% extends "eCommerce/base.html"%}

{% load static %}
{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'eCommerce/signup.css' %}" />
	<title>Login Page</title>
</head>
<body>

    <div class="container">
		<h1 class="title">Login</h1>
		<form method="POST" class="signup-form">
		  {% csrf_token %}
		  <fieldset class="form-group">
			<label for="username" class="label">Username:</label>
			<input type="text" id="username" name="username" class="input">
			
			<label for="password" class="label">Password:</label>
			<input type="password" id="password" name="password" class="input">
			
			<button style="margin-top: 10px;" type="submit" class="button">Login</button>
		  </fieldset>
		</form>
		
		<p class="link">New around here? <a href="{% url 'signup' %}" class="link-text">Sign up</a></p>
		<p class="link">Become a seller? <a href="{% url 'seller-signup' %}" class="link-text">Learn more</a></p>
	  </div>
	  

</body>
{% endblock %}
