{% extends "eCommerce/sellerBase.html"%} 
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'eCommerce/orderUpdate.css' %}">
</head>
<body>
  
   
    <form method="POST" enctype="multipart/form-data">
       
        {% csrf_token %}
        <div class="form-container">
          <h2>Order Update</h2>
          <div class="form-group">
            <label for="delivery-state" class="form-label">Delivery State:</label>
            <select id="delivery-state" name="delivery-state" class="form-select">
              <option value="SHIPPED">Shipped</option>
              <option value="DELIVERED">Delivered</option>
              <option value="PENDING">Pending</option>
              <option value="CANCELED">Canceled</option>
            </select>
          </div>
          <div class="form-group">
            <label for="payment-state" class="form-label">Payment State:</label>
            <select id="payment-state" name="payment-state" class="form-select">
              <option value="PAID">Paid</option>
              <option value="ON_DELIVERY">On delivery</option>
              <option value="UNPAID">Unpaid</option>
              <option value="CANCELED">Canceled</option>
            </select>
          </div>
          <button type="submit" class="form-button">Submit</button>
        </div>
      </form>
  </div>
</body>

{% endblock %}
</html>
