
{% extends "eCommerce/base.html"%}


{% load static %}
{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'eCommerce/profile.css' %}" />
	<title>My Account </title>
</head>
<body>
	
	<div class="sidebar">
		<div class="link-group">
			<a href="{% url 'profile' %}">My Details</a>
			<a href="{% url 'user-orders' %}">My Orders</a>
		
		</div>
	
	</div>
	
	<h1 class="mainh">My Account</h1>
	<div class="profile-container">
		
		<div class="left2">
			<div class="profile-image2">
				<img src="{{ user.profile.image.url }}" alt="Profile image">
			</div>
			<h1>{{ user.username }}</h1>
			<p style="color: #666;">{{ user.role }}</p>
		</div>

		<div class="vertical-line"></div>
	
		<div class="profile-info">
			<table>
				
				<tr>
					<td class="dark-column">Firstname</td>
					<td class="light-column">{{ user.first_name }}</td>
				</tr>
				<tr>
					<td class="dark-column">Lastname</td>
					<td class="light-column">{{ user.last_name }}</td>
				</tr>
				<tr>
					<td class="dark-column">Email</td>
					<td class="light-column">{{ user.email }}</td>
				</tr>
			</table>
		
		</div>
		<div class="btn-ting">
			<button id="open-modal-btn" >Update</button>
		</div>
		
	  </div>
	  <div class="modal-overlay" id="modal-overlay">
		<div class="modal-content">
			<div class="container">
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<fieldset class="form-group">
						<h1>Profile Info</h1>
						<label for="">Username:</label>
						{{ u_form.username }}

						<div class="both">
							<div class="firstname">
								<label for="">Firstname:</label>
						{{ u_form.first_name }}
							</div>
						<div class="lastname">
							<label for="">Lastname:</label>
						{{ u_form.last_name }}
						</div>
						
						</div>

						<label for="">Email:</label>
						{{ u_form.email }}
						{{ p_form }}
						<div class="form-btn"><button type="submit">Update</button></div>
						
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	
	<script>
		// JavaScript to handle modal functionality
		const openModalBtn = document.getElementById('open-modal-btn');
		const modalOverlay = document.getElementById('modal-overlay');
	
		openModalBtn.addEventListener('click', () => {
			modalOverlay.style.display = 'block';
		});
	
		modalOverlay.addEventListener('click', (event) => {
			if (event.target === modalOverlay) {
				modalOverlay.style.display = 'none';
			}
		});
	</script>
	
	  
</body>


{% endblock %}
