{% extends "eCommerce/base.html"%}
{% load static %}

{% block content %}
<head>
    <title>Seller Home Page</title>

    <link rel="stylesheet" href="{% static 'eCommerce/product.css' %}">
</head>
<body>
      
    <h1 style="margin-top: 30px;">My Products</h1>
    <div class="new-product-link"><a class="" href="{% url 'product-create' %}">New Product</a> </div>
    
    
    <div class="products">
      {% for product in products %}
           <div class="product-container">
               <a href="{% url 'product-detail' product.id %}">{{ product.title }}</a>
               <p class="category">Category: {{ product.categorie }}</p>
               <img src="{{ product.image.url }}" alt="Product Image">
               <p class="price">{{ product.price }} $</p></p>
               <p class="seller">Seller: {{ product.seller }}</p>
               <p class="seller">Created at : {{ product.date_created}}</p>
           </div>
       {% endfor %}
   </div>
       
</body>

{% endblock %}