{% extends "eCommerce/base.html"%}
{% load static %}

{% block content %}
<head>
    <title>Products</title>
	
    <link rel="stylesheet" href="{% static 'eCommerce/product.css' %}">
</head>
<body>
    {% for product in products %}
        <div class="product-container">
            <a href="{% url 'product-detail' product.id %}">{{ product.title }}</a>
            <p class="category">Category: {{ product.categorie }}</p>
            <img src="{{ product.image.url }}" alt="Product Image">
            <p class="price">{{ product.price }} $</p></p>
            <p class="seller">Seller: {{ product.seller }}</p>
            <p class="seller">Created at : {{ product.date_created|date:"F d, Y" }}</p>
        </div>
    {% endfor %}
</body>


{% endblock %}