{% extends "eCommerce/base.html" %}
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Admin Statistics</title>
  <link rel="stylesheet" href="{% static 'eCommerce/adminDashboard.css' %}" />
  <link rel="stylesheet" href="{% static 'eCommerce/navbar.css' %}" />
</head>
<body>

    <main>
       <div class="container">
    <h2>Website Statistics</h2>
    <div class="stats">
      <div class="stat">
        <h3>Users</h3>
        <p id="usersCount">{{ users_count }}</p>
      </div>
      <div class="stat">
        <h3>Sellers</h3>
        <p id="sellersCount">{{ sellers }}</p>
      </div>
      <div class="stat">
        <h3>Products</h3>
        <p id="productsCount">{{ products_count }}</p>
      </div>
      <div class="stat">
        <h3>Orders</h3>
        <p id="productsCount">{{ orders_count }}</p>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Product prices statistics</h2>
    <div class="stats">
      <div class="stat">
        <h3>Max Price</h3>
        <p id="products_max">{{ products_max }} $</p>
      </div>
      <div class="stat">
        <h3>Avg Price</h3>
        <p id="products_avg">{{ products_avg }} $</p>
      </div>
      <div class="stat">
        <h3>Min Price</h3>
        <p id="products_min">{{ products_min }} $</p>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>Orders statistics</h2>
    <div class="stats">
      <div class="stat">
        <h3>Most ordered product</h3>
        <p id="products_max">{{ most_ordered_product }} </p>
      </div>
      <div class="stat">
        <h3>Seller with most orders</h3>
        <p id="products_max">{{ seller_with_most_orders }} </p>
      </div>
      <div class="stat">
        <h3>Total orders price</h3>
        <p id="products_max">{{ total_orders_price }} $</p>
      </div>
    </div>
  </div>
  <h2>Additional Statistics</h2>
  <div class="container" style="display: flex; justify-content: space-evenly;">
    <!-- Add your additional stats here -->
    <canvas id="barChart" style="max-width: 400px;
    max-height: 300px;"></canvas>
    <canvas id="pieChart" style="max-width: 400px;
    max-height: 300px;"></canvas>
  </div>
  <div class="container">
    <h2>Order history</h2>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Order Date</th>
          <th>Product</th>
          <th>Quantity</th>
        </tr>
        {% for user in users %}
        
        <tr>
            <th>{{ user.firstname }}</th>
            <th>{{ user.lastname }}</th>
            <th>{{ user.email }}</th>
            <th>{{ user.date_joined }}</th>
            <th>{{ user.role }}</th>
            <th></th>
          </tr>
        {% endfor %}
      </thead>
    </table>
  </div> 
    </main>
    <style>
    
  </style>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
            const categoriesData = JSON.parse('{{ products_nb|safe }}');
            const labels = Object.keys(categoriesData);
            const numbers = Object.values(categoriesData);
            const rolesData = JSON.parse('{{ roles|safe }}');
            const roleLabels = Object.keys(rolesData);
            const roleNumbers = Object.values(rolesData);

            // Bar Chart
            const barCtx = document.getElementById('barChart').getContext('2d');
            new Chart(barCtx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Products in category',
                        data: numbers,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks:{
                              stepSize:1
                            }
                        }
                    }
                }
            });

            // Pie Chart
            const pieCtx = document.getElementById('pieChart').getContext('2d');
            new Chart(pieCtx, {
                type: 'pie',
                data: {
                    labels: roleLabels,
                    datasets: [{
                        label: 'Users',
                        data: roleNumbers,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                  
                }
            });
        });
    </script>
</body>
</html>
{% endblock %}
