{% extends "eCommerce/sellerBase.html"%}
{% load static %}

{% block content %}
<head>
    <title>Products</title>
	
    <link rel="stylesheet" href="{% static 'eCommerce/sellerProducts.css' %}">
</head>
<body>

  <form method="get" class="filter-form">
    {% for field in filter.form %}
        <div class="form-field">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
    <div class="submit-btn"><button type="submit">Apply Filters</button></div>
</form>

<div class="new-product-link"><a class="" href="{% url 'product-create' %}">New Product</a> </div>
    <div class="products">
   {% for product in products %}
        <div class="product-container">
            <a href="{% url 'product-detail' product.id %}">{{ product.title }}</a>
            <p class="category">Category: {{ product.categorie }}</p>
            <img src="{{ product.image.url }}" alt="Product Image">
            <p class="price">{{ product.price }} $</p></p>
            <p class="seller">Posted : {{ product.date_created}}</p>
        </div>
    {% endfor %}
</div>
    
    
</body>


{% endblock %}