body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }
  
  .payment-container {
    display: flex;
    justify-content: center;
    align-items: center;
   height: 30vh;
    
  }
  .details-container {
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 100vh;
    margin: 0 auto;
    padding: 20px 20px 20px;
    font-size: 20px;
  }
.all{
    display: flex;
    flex-direction: row;
}

.info{
    font-size: 16px;
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 40%;
}
.products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
}
.item {
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: left;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}
.item img{
    max-height: 80px;
    border-radius: .7rem;
    aspect-ratio: 1;
    object-fit: contain;
}
.title, .price{
    font-size: 16px;
}
  
  .payment-option {
    margin: 0 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: transform 0.3s ease;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    width: 55vh;
    margin-top: 0;
  }
  
  .payment-option:hover {
    transform: scale(1.05);
  }
  
  .payment-description {
    margin-top: 10px;
  }
  .text{
    color: black;
  }