@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
main{
  display: flex;
}
 * {
   box-sizing: border-box;
 }

 .navbar a{
  font-family: 'Montserrat', sans-serif;
   text-decoration: none !important;
   font-weight: 300;
   font-size: 16px;
   padding: 0 20px;
   color: white;
   cursor: pointer;
    
 }
 .navbar a {
   transition: all 0.3s ease 0s;   
  }
  .navbar a:hover {
      color: #98dad9;   
     }

  .left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15px;
  }
  .right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
 
 .navbar {
  position: sticky;
   z-index: 10;
   top: 0;
   left: 0;
   display: flex;
   align-items:center;
   justify-content: space-between;
   width: 100%;
   height: 64px;
   background: #212121;
   color: #f9f9f9;
   font-family: Arial, sans-serif;
   box-sizing: border-box;
 }
 
.notification-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.badge {
  position:absolute;
  top: 10px;
  left: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-list {
  position: absolute;
  top: 23px;
  left: 0;
  width: 200px;
  max-height: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-y: auto;
  display: none;
}

.notification-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.time{
  font-size: 10px;
}
.notification-list li button{
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  border: none;
  background-color: white ;
}
.notification-list li button:hover{
  background-color: whitesmoke ;
}
.notification-list li form{
  border: none;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.notification-list li:hover {
 background-color: whitesmoke;
}

.notification-list li:last-child {
  border-bottom: none;
}
.notification-icon:hover .notification-list {
  display: block;
}

form .search-container{
  position: relative;
  display: flex; 
  align-items: center; 
}

.search-box input[type="search"] {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius:  0 4px 4px 0;
  background: lightgray;
  border: none;
  cursor: pointer;
  padding: 2px;
}
.search-button img {
  display: block;
  margin: auto;
}

 .success-message {
  background-color: #d4edda;
  border-color: #c3e6cb;
  font-weight: 700;
  color: #155724;
  padding: .75rem 1.25rem;
  border-radius: .25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success-message i {
  color: #155724;
  margin-right: 5px;
}
.submit-button{
  font-family: 'Montserrat', sans-serif;
}